body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 45%;
    background: #ffffff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DDDDDD;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    width: 350px;
}

.profile a {
    text-decoration: none;
    color: #0066cc;
}

h2 {
    color: #333;
}

ul {
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

ul li a {
    text-decoration: none;
    color: #0066cc;
}

ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .container, .profile {
        width: 90%;
    }
}